html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dice-area {
  width: 600px;
  padding: 50px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.die {
  display: flex;
  justify-content: space-around;
}

.die > img {
  padding: 5px;
}

.shake {
  animation: shake .5s infinite;
}

@keyframes shake{
  0%{
    transform: rotate(8deg);
  }
  50%{
    transform: rotate(-8deg);
  }
  100%{
    transform: rotate(8deg);
  }
}