html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: darkgray;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 110px 30px 220px 220px;
  grid-template-areas: 
  "img button button"
  "message message message"
  "diceArea diceArea score-sheet"
  "dice-kept-area dice-kept-area score-sheet" 
  ;
}

#roll-btn:hover {
  background-color: #dedede;
  color: blueviolet;
}

#roll-btn{
  width: 60px;
  height: 60px;
  font-size: large;
  border-radius: 30px;
  margin: 30px 0 0px 40px  ;
  grid-area: button ;
}

.img{
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  grid-area: img;
}

#dice-area {
  width: 100%;
  height: 200px;
  padding: 50px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  grid-area: diceArea;
}

.dice-kept-area {
  width: 100%;
  height: 200px;
  padding: 50px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  grid-area: dice-kept-area;
}

.diceIMG {
  height: 70px;
  width: 70px;
  margin: 5px;
}

.die, .kept-die {
  display: flex;
  justify-content: space-around;
}

.die > img, .kept-die > img {
  padding: 5px;
}



.shake {
  animation: shake .5s infinite;
}

@keyframes shake{
  0%{
    transform: rotate(8deg);
  }
  50%{
    transform: rotate(-8deg);
  }
  100%{
    transform: rotate(8deg);
  }
}

#score-sheet {
  grid-area: score-sheet;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
  table {
    background-color: white; 
  }

  tr, th, td {
    border: 1px solid black;
  }

  #message{
    grid-area: message;
    text-align: center;
    color: white
  }