html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  height: 100vh;
  background-color: darkgray;

}

.dice-area {
  width: 400px;
  padding: 50px;
  border: 1px solid black;
  background-color: white;
}